.card {
  // max-width: 30%;
  margin-top: 32px;
  // border: 1px solid white;
  // border-radius: 6px;
  text-align: left;
  cursor: pointer;
  transition: all 0.4s ease-in-out 0s, visibility 0s;
  padding: 8px 12px;
  box-shadow: 0 0 10px 3px #c2c2c2;

  &--image {
    width: 100%;
    border-radius: 6px 6px 0 0;
  }

  &:hover {
    transform: scale(1.05);
    background-color: #f8f6ff;
  }
}
