<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <h2 class="footer-name">Adam Hirny</h2>
      <p class="footer-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut error ea
        mollitia iure consequuntur corrupti ratione laborum et, veniam quae
        laudantium voluptates saepe temporibus dolore qui, omnis maxime
        consectetur! Officia?
      </p>
    </div>

    <!-- Todo add icons to socials -->
    <div class="footer-right">
      <h3 class="social-title">SOCIAL</h3>
      <div class="social-icons">
        <a href="#" class="social-link" aria-label="LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="#" class="social-link" aria-label="GitHub">
          <i class="fab fa-github"></i>
        </a>
        <a href="#" class="social-link" aria-label="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="social-link" aria-label="Stack Overflow">
          <i class="fab fa-stack-overflow"></i>
        </a>
        <a href="#" class="social-link" aria-label="YouTube">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <hr class="footer-divider" />
    <p class="copyright">
      © Copyright 2025. Made by
      <a href="#" class="author-link">Adam Hirny</a>
    </p>
  </div>
</footer>
