<div class="skills">
  <h1>Skills</h1>

  <div class="skills-grid">
    <app-card imgSrc="react-svgrepo-com.svg" text="React" />
    <app-card imgSrc="angular-svgrepo-com.svg" text="Angular" />
    <app-card imgSrc="js-svgrepo-com.svg" text="JavaScript" />
    <app-card imgSrc="typescript-official-svgrepo-com.svg" text="TypeScript" />
    <app-card imgSrc="html5-svgrepo-com.svg" text="HTML5" />
    <app-card imgSrc="css-3-svgrepo-com.svg" text="CSS3" />
    <app-card imgSrc="sass-svgrepo-com.svg" text="Sass" />
    <app-card imgSrc="node-js-svgrepo-com.svg" text="Node.js" />
    <app-card imgSrc="database-svgrepo-com.svg" text="PostgreSQL" />
    <app-card imgSrc="mongo-svgrepo-com.svg" text="MongoDB" />
    <app-card imgSrc="git-svgrepo-com.svg" text="Git" />
  </div>
</div>
