main {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.about {
  &--text {
    margin: 0 auto;
    max-width: 50%;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}
