<div class="experience-section">
  <h1>Experience</h1>

  <div class="experience-list">
    <div class="experience-item">
      <h2 class="company-name">Job 2</h2>
      <p class="position-title">Junior Software Engineer/Jun 2022 - Jan 2024</p>
      <ul class="responsibilities">
        <li>
          Developed a full-stack enterprise applications using React, PostgreSQL
          and Docker.
        </li>
        <li>
          Conducted code reviews, contributing to maintaining high standards of
          code quality and team collaboration.
        </li>
        <li>
          Provided mentorship to two IT college students, enhancing their
          practical software engineering skills.
        </li>
      </ul>
    </div>

    <div class="experience-item">
      <h2 class="company-name">Job 1 (Internship)</h2>
      <p class="position-title">Full Stack Developer/Feb 2022 - May 2022</p>
      <ul class="responsibilities">
        <li>
          Developed full-stack applications with React.js and Spring Boot.
        </li>
        <li>
          Implemented essential software development practices such as GitHub
          for version control, Maven for project management, JUnit for testing,
          and applied design patterns and MVC architecture.
        </li>
      </ul>
    </div>
  </div>
</div>
